In [1]:
import os
import pandas as pd

from pandas import DataFrame
from typing import List

from dotenv import load_dotenv

load_dotenv()

True

In [2]:
INPUT_FOLDER: str = os.getenv('INPUT_FOLDER_PATH')
print(INPUT_FOLDER)

C:\\Users\\nba017\\Documents\\Github\\quick-dirty_drechtsteden\\input

In [3]:
os.listdir(INPUT_FOLDER)

['.gitkeep',
 'Week 1 -Mei.xlsx',
 'Week 2 -Mei.xlsx',
 'Week 3 -Mei.xlsx',
 'Week 4 -Mei.xlsx']

In [9]:
test_df: DataFrame = pd.read_excel(os.path.join(INPUT_FOLDER, 'Week 1 -Mei.xlsx'), header=1)
test_df.head()

,Unnamed: 0,CallId,Segment,Start,Stop,Calling Party,Trunk Group,Dialed Number,Answered Agent,Original Agent,...,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,1.1,2.1,3.1,4.1,5.1
0,NaN,582539,1,2025-05-06 08:00:33,2025-05-06 08:12:07,2807 (Astrid Nederlof),NaN,8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,582524,1,2025-05-06 08:01:02,2025-05-06 08:05:02,0620485126,101 (Vodafone01),8008 (SGD Serviceloket),95121 (Jordy Cruz),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,582547,1,2025-05-06 08:04:04,2025-05-06 08:16:12,7114 (Prya Bhola),NaN,8008 (SGD Serviceloket),95022 (Yamani Mondt),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,582561,1,2025-05-06 08:04:46,2025-05-06 08:22:13,NaN,NaN,8008 (SGD Serviceloket),95121 (Jordy Cruz),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,582544,1,2025-05-06 08:05:10,2025-05-06 08:14:30,0639621473,101 (Vodafone01),8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
test_df.columns
type(test_df.columns)

pandas.core.indexes.base.Index

In [ ]:
def summarize_unused_columns(dataset_column_index: pd.core.indexes.base.Index) -> List[str]:
   """
   
   """
   unused_column_names: List[str] = [col_name for col_name in dataset_column_index if 'unnamed' in str(col_name).lower()]
   return unused_column_names

In [ ]:
def clean_input_dataset(dataset: DataFrame) -> DataFrame:
    """
    
    """
    input_dataset: DataFrame = dataset.copy()
    unused_column_names: List[str] = summarize_unused_columns(dataset.columns)
    clean_df: DataFrame = input_dataset.drop(labels=unused_column_names, axis='columns')
    return clean_df

clean_input_dataset(dataset=test_df)

['Unnamed: 0', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77']

,CallId,Segment,Start,Stop,Calling Party,Trunk Group,Dialed Number,Answered Agent,Original Agent,Call Disposition,...,5,6,7,8,9,1.1,2.1,3.1,4.1,5.1
0,582539,1,2025-05-06 08:00:33,2025-05-06 08:12:07,2807 (Astrid Nederlof),NaN,8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,582524,1,2025-05-06 08:01:02,2025-05-06 08:05:02,0620485126,101 (Vodafone01),8008 (SGD Serviceloket),95121 (Jordy Cruz),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,582547,1,2025-05-06 08:04:04,2025-05-06 08:16:12,7114 (Prya Bhola),NaN,8008 (SGD Serviceloket),95022 (Yamani Mondt),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,582561,1,2025-05-06 08:04:46,2025-05-06 08:22:13,NaN,NaN,8008 (SGD Serviceloket),95121 (Jordy Cruz),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,582544,1,2025-05-06 08:05:10,2025-05-06 08:14:30,0639621473,101 (Vodafone01),8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,596486,1,2025-05-09 15:31:11,2025-05-09 15:35:59,0651825658,101 (Vodafone01),8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737,596508,1,2025-05-09 15:38:51,2025-05-09 15:42:50,0628526280,101 (Vodafone01),8008 (SGD Serviceloket),95143 (Erdem Eser),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,596535,1,2025-05-09 15:43:15,2025-05-09 15:50:48,0628526280,101 (Vodafone01),8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,596627,1,2025-05-09 16:16:23,2025-05-09 16:20:53,94298 (Supervisor TCC 2),NaN,8008 (SGD Serviceloket),95120 (Laurens Brand),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,596654,1,2025-05-09 16:25:50,2025-05-09 16:33:57,4124 (Wilma van der Plicht),NaN,8008 (SGD Serviceloket),95143 (Erdem Eser),NaN,Answered,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN